<mat-toolbar color="primary">
  <button mat-button routerLink="/"><span style="font-size: 15px;">Shopping Mart</span></button>

  
  
  <button mat-button [matMenuTriggerFor]="category" *ngIf="!loginService.roleMatch(['Admin'])">Category</button>
  <mat-menu #category="matMenu">

    <div *ngFor="let category of categories">
      <button mat-menu-item
         (click)="getProductByCategory(category.id)"
      >
        {{category.title}}
      </button>
    </div>
  </mat-menu>
  <button mat-button [matMenuTriggerFor]="menu" *ngIf="loginService.roleMatch(['Admin'])">Menu</button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/">Home</button>
    <button mat-menu-item routerLink="/admin/category">Category</button>
    <button mat-menu-item routerLink="/admin/product">Product</button>
  </mat-menu>

  <span class="spacer"></span>
  <button mat-icon-button aria-label="shopping_cart"
   class="btn-cart" routerLink="/cart/22"
   *ngIf="loginService.roleMatch(['User'])">
    <mat-icon >shopping_cart</mat-icon>
    <span class="badge" *ngIf="cartCount > 0">{{cartCount}}</span>
  </button>

  <h4 class="mt-3" *ngIf="isLoggedIn()">{{userAuthService.getUser()}}</h4>

  <button *ngIf="!isLoggedIn()" mat-icon-button aria-label="login" class="ms-4" routerLink="/login">
    <mat-icon>login</mat-icon>
  </button> 
  <button *ngIf="isLoggedIn()" mat-icon-button aria-label="logout" class="ms-4" (click)="logout()">
    <mat-icon>logout</mat-icon>
  </button> 
</mat-toolbar>
